/***
CSS Style sheet
Daniel Howard
CSC-1300-800-S19
11Feb18
 ***/

body	{
		font-family: Centaur, "Century Gothic", Arial;
		font-size: 14pt;
		 background-image: url("blackbackground.jpg");}	
		
h1	{color:  #b1cece;
	text-align: center;}

h2, h3 {color:  #b1cece;}

p 		{	
		margin-left: 10pt;
		margin-right: 10pt;
		color: #ffffff;
		}
a 		{
		text-decoration: none;
	    color: #ffffff;}
		
a:hover {background: #eff5f5;
		color: #000000;}
		

img.align-left {float: left;
				margin-left: auto;
				margin-right: auto;}

img.align-right {float: right;
				margin-left: auto;
				margin-right: auto;}


table	{
		width: 50%;
		margin-left: auto;
		margin-right: auto;
		border-color: #545859;
		border-style: ridge;
		border-width: 10px;
		background-color: #737373;
		padding: 15px;
		text-align: center;
		}
th		{
		color: #ffffff;
		background-color: #000000;
		margin-left: auto;
		margin-right: auto;	
		border-width: 10px;
		padding: 20px;	
		}
tr.stripe	{
		background-color: #e0ebeb;
		margin-left: auto;
		margin-right: auto;
		border-color: #000000;	
		border-width: 10px;
		padding: 20px;
		}

td.bolder	
		{
		font-weight: bold;
		border-width: 10px;
		border-color: #000000;	
		border-width: 20px;
		}
			
.menu	{
		text-align: center;
		width: 80%;
		}



.menuicon{
		width: 15%;
		}	
.menupipe{
	width: 1%;
		}	


caption	{
		caption-side: bottom;
		font-style: italic;
		}
