h1 {font-family: Lucida Console, Monaco; font-size: 55px; color: white;}
h2 {font-family: Lucida Console, Monaco; font-size: 50px; color: white;}
h3, legend{font-family: Lucida Console, Monaco; font-size: 26px; color: white;}
h4, p, a{font-family: Lucida Console, Monaco; font-size: 18px; color: white;}
h5 {font-family: Lucida Console, Monaco; font-size: 14px; color: white;}
h6 {font-family: Lucida Console, Monaco; font-size: 10px; color: white;}
hr {border-color: #40ff00;}
p.box {width: 400px; margin-left: auto; margin-right:auto; margin-top: 100px; border-radius: 5px; padding: 10px; background-color: white; color: white;}
     
.example1 {
 height: 50px;
 position: relative;
}

.example1 h3 {
 font-size: 3em;
 color: white;
 position: absolute;
 width: 50%;
 height: 100%;
 margin: 0;
 line-height: 50px;
 text-align: center;
 /* Starting position */
 -moz-transform:translateX(90%);
 -webkit-transform:translateX(90%);	
 transform:translateX(90%);
 /* Apply animation to this element */	
 -moz-animation: example1 15s linear infinite;
 -webkit-animation: example1 15s linear infinite;
 animation: example1 15s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes example1 {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes example1 {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes example1 {
 0%   { 
 -moz-transform: translateX(100%); /* Firefox bug fix */
 -webkit-transform: translateX(100%); /* Firefox bug fix */
 transform: translateX(100%); 		
 }
 100% { 
 -moz-transform: translateX(-100%); /* Firefox bug fix */
 -webkit-transform: translateX(-100%); /* Firefox bug fix */
 transform: translateX(-100%); 
	}}
 


#displayDateLast {text-align: center;	width: 50%;	margin-right: auto;	margin-left: auto;}

body {font-family: Lucida Console, Monaco; background-image: url("blackbackground.jpg");}	
	.column {float: right; width: 25%; padding: 10px;}

/* Style the images inside the grid */
	.column img {opacity: 0.8; cursor: pointer;}
	
	.column img:hover {opacity: 1;}

/* Clear floats after the columns */
	.row:after {content: ""; display: table; clear: both;}

/* The expanding image container */
.container {position: relative; display: none;}

/* Expanding image text */
#imgtext {position: absolute; bottom: 15px; left: 15px; color: white; font-size: 20px;}

/* Closable button inside the expanded image */
.closebtn {position: absolute; top: 10px; right: 15px; color: white; font-size: 35px; cursor: pointer;}

/* Container for flexboxes */
section {display: -webkit-flex; display: flex;}

/* Style the content */
article {-webkit-flex: 3; -ms-flex: 3; flex: 3; background-color: #55552b; padding: 10px;}

/* Style the footer */
footer {background-color: black; padding: 10px; text-align: center; color: white;}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
  section {-webkit-flex-direction: column; flex-direction: column;}
  }
  
img {display: block; box-shadow: 0px 5px 5px #ccc; background-color: black; margin-left: auto; margin-right: auto;}	
img.logo {position: center; margin-left: auto; margin-right: auto; margin-top: 30px; height: 45px; border-radius: 100%; transform: translateY(-50%); padding: 5px; background-color: black; box-shadow: 0px 5px 5px #ccc;border-radius: 15px; border-top: 1px solid #e9e9e9;}
img.main {margin-left: auto; margin-right: auto;  width: 500px; height: 200px}

table {font-family: Lucida Console, Monaco; border-collapse: collapse; width: 70%; border-color: black; border-style: ridge; border-width: 10px; height: 20px; margin-left: auto; margin-right: auto;}
.block {text-align: center; width: 70%; }
.center-div {text-align: center; width: 70%; }
.header-text {font-family: Lucida Console, Monaco; text-align: center; font-size: 14pt; font-weight: bold;}
.center-items {text-align: center;}
.right-align {text-align: right; width: 50%;}
.left-align {text-align: left; width: 50%;}

th{font-family: Lucida Console, Monaco; text-align: center; background-color: black; color: white; border-collapse: collapse; width: 100%; border-color: grey; border-style: ridge; border-width: 10px; height: 20px; margin-left: auto; margin-right: auto;}
tr {background-color: black; color: white;}	
td.bolder {font-weight: bold; text-align: center; width: 50px;}
tr:hover {background-color: black;}	

#displayDateLast {text-align: center; width: 75%; margin-right: auto; margin-left: auto; margin-top: 150px}
 

.dropbtn {background-color: black; color: white; padding: 12px;
font-size: 16px; border: none;}
.dropdown {position: relative; display: inline-block;}
.dropdown-content {display: none; position: absolute; background-color: #f1f1f1;
min-width: 190px; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); z-index: 1;}
.dropdown-content a {background-color: #bfbfbf; color: black; padding: 2px 2px; font-size: 16px; text-decoration: none; display: block;}
.dropdown-content a:hover {background-color:black; color:white;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: white; color: black}
.align-center {text-align: center;}

/* Google map's API css style */
#map {height: 100%;}
  
/* Set the size of the div element for google map */
#map {height: 700px; width: 80%;}

span.label {font-family: serif; font-weight: normal;}